.sign-up-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
  }
  
  .form-group {
    margin-bottom: 16px;
  }
  
  label {
    display: block;
    margin-bottom: 4px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 8px 16px;
    background-color: black;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  